<body style="backgournd-color: #051930">
<div fxLayout="column" style="background-color:red; text-align:center;" class="main">

  <form>
    <div>

        <!-- Angular Interpolation:- The Angular Interpolation is Name of the Input contetnt that we want to render
            We can Declare the name that we we want to use in View/Template/HTML  
            and assign value to it in ngOnit Method. 
            After That Declare that name in This file in {{}} bracket.
            
            This Is Called As Property Binding In Angular. -->

        {{name}}&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Kiran"><br><br>
         {{password}}<input type="password" name="Kiran"><br><br>
          <input type="button" class="button button3" (click)="Signin()" value="Login">

          <!-- Event Binding : In Angular suppose we want to apply some Event on HTML element we 
          can apply this on button on any other element. -->

          <input type="reset" class="button button3" (click)="ClickonClare()"  value="Reset">
          
          <!-- In Angular We use TypeScript Insted of JavaScript therefore Some Syntax are different
                In Above code We can Create A button called Login n apply Click event on 
                that button.
                We can write your logic of Signin() method that is called after button Click
                in Login.componet.html after the ngOninit method. -->

          <input type="button" class="button button3" (click)="GotoEmp()" value = "EMP"> 
    </div>
  </form>

</div >
</body>